* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

/*** HEADER ***/
#header {
    height: 90vh;
    background: url(../images/Layer-3.png) center / cover no-repeat;
}

/* navigation */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    position: relative;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}
.nav__logo h1 {
    font-size: 2.6vw;
    line-height: 2.5vw;
    color: #fff;
}
.nav__logo h1 span {
    color: goldenrod;
}
.nav__logo p {
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.nav__link {
    display: flex;
    gap: 1vw;
}
.nav__link li {
    list-style: none;
    position: relative;
}
.nav__link li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: .5vw 1vw;
    border-radius: 5rem;
    transition: 200ms;
}
.nav__link li a:hover {
    background: #ffc61a;
}
#menu-btn {
    display: none;
}

/* greeting */
.greeting {
    margin-top: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.greeting::after {
    content: "";
    margin-top: 2vw;
    background: url(../images/Place-Car-Image-here.png) center / cover no-repeat;
    width: 48vw;
    aspect-ratio: 16/9;
}
.greeting h3 {
    color: rgb(255 198 26);
    font-size: 2.5vw;
    text-transform: uppercase; 
}
.greeting h2 {
    font-size: 4.2vw;
    font-weight: 600;
}
.greeting p {
    text-transform: uppercase;
    font-size: 1.4vw;
    letter-spacing: .5vw;
    font-weight: lighter;
    transform: scaleY(.9);
}

/*** ABOUT ***/
#about {
    background: #ffc61a;
    padding: 8vw 12vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about-descri {
    width: 50%;
    padding: 0 2vw;
}
.about-descri h3 {
 text-transform: uppercase;
 font-size: 2vw;
 margin-bottom: .5vw
}
.about-descri h2 {
    font-size: 2.5vw;
    text-transform: uppercase;
    color: #111;
    font-weight: 700;
}
.about-descri h2,
.about-descri p {
    margin-bottom: 2vw;
}
.about-descri p {
    opacity: .9;
}
.about-descri__btn {
    padding: .5vw 1.5vw .3vw;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.7vw;
    border: none;
    border-radius: .4vw;
    cursor: pointer;
    transition: 300ms;
}
.about-descri__btn:hover {
    background: crimson;
}

.about-form {
    width: 40%;
    background-color: #fff;
    border-radius: .2vw;
    overflow: hidden;
}
.about-form h2 {
    color: #fff;
    font-size: 2.3vw;
    text-transform: uppercase;
    padding: 1vw 2vw .8vw;
    background: #050505;
}
.about-form h2 span {
    color: goldenrod;
}

.about-form__input {
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-form__input input {
    width: 48%;
    margin-bottom: 1vw;
    border: none;
    border-bottom: .2vw solid rgba(50, 50, 50, 0.5);
    padding: .8vw;
    font-size: 1.2vw;
    color: rgba(34, 34, 34, 1);
    font-weight: bold;
}
.about-form__input input:focus {
    outline: none;
}
.about-form__input input:nth-child(odd)::placeholder {
    font-size: 1.2vw;
    color: rgba(34, 34, 34, 1);
    font-weight: bold;
}
.about-form__input input:nth-child(even)::placeholder {
    font-size: 1.2vw;
    color: rgba(34, 34, 34, .85);
    font-weight: bold;
}
.about-form__input input:nth-child(7) {
    width: 100%;
}

.about-form__btn {
    display: block;
    width: calc(100% - 2vw);
    margin: 0 auto 1vw;
    box-sizing: border-box;
    padding: .5vw 0 .2vw;
    font-size: 1.7vw;
    text-transform: uppercase;
    background: #111;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
    border: none;
    border-radius: .4vw;
    cursor: pointer;
    transition: 300ms;
}
.about-form__btn:hover {
    background: crimson;
}
.text-transform {
    display: inline-block;
    transform: scaleX(0.8) scaleY(1.1);
}

/*** FEATURES ***/
#feature {
    height: 90vh;
    background-color: #fff;
}

#feature h3,
#feature h2{
    text-transform: uppercase;
    text-align: center;
}
#feature h3 {
    color: #ffc61a;
    font-size: 2.2vw;
    margin-top: 2vw;
    line-height: 1.8vw;
}
#feature .feature__title2 {
    color: black;
    font-size: 2.5vw;
    font-weight: bold;
}

/* card tariff */
.taxi-tariff {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 4vw;
    padding: 0 10vw;
}

.tariff-card {
    padding: 10vw 1vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    width: 23vw;
    background: #f1f1f1;
    position: relative;
    transition: 100ms;
}
.tariff-card::before {
    content: "";
    background: url(../images/Layer-1-copy.png) center / cover no-repeat;
    width: 20vw;
    aspect-ratio: 16/9;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);
}
.tariff-card:hover {
    transform: scale(1.05);
    background: #ffc61a;
}
.tariff-card:hover .tariff-card__prix {
    color: #111;
} 
.tariff-card:hover .more-btn {
    color: #f1f1f1;
    background: #111;
}
.tariff-card__title {
    font-size: 2vw;
    text-transform: uppercase;
}
.tariff-card p {
    text-align: center;
}
.tariff-card__prix {
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffc61a;
}
.tariff-card .more-btn {
    padding: .4vw 1vw .3vw;
    color: black;
    background: #ffc61a;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.7vw;
    border: none;
    border-radius: .4vw;
    cursor: pointer;
    transition: 300ms;
}
.more-btn:hover {
    background: crimson !important;
}

.selected {
    background: #000;
    padding: 0.5vw;
    width: 5vw;
    height: 5vw;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    display: none;
    justify-content: end;
    align-items: end;
}
.selected img {
    width: 2.2vw;
}
.tariff-card:hover .selected {
    transform: translate(0, 0);
    display: flex;
}

/*** BLOG ***/
#blog {
    height: 90vh;
    background: url(../images/taxi.png) center / cover no-repeat;
    padding-top: 2vw;
}

.blog__title1,
.blog__title2 {
    text-transform: uppercase;
    text-align: center;
}
.blog__title1 {
    color: #ffc61a;
    font-size: 2.2vw;
    margin-top: 2vw;
    line-height: 2vw;
}
.blog__title2 {
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
}

.blog-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vw 15vw;
}

.blog-item {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 40%;
    position: relative;
    margin-bottom: 2vw;
    padding-left: 5vw;
}
.blog-item__h4 {
    color: #ffc61a;
    font-size: 1.8vw;
    text-transform: uppercase;
}
.blog-item__p {
    color: white;
}
.blog-item__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);
    border-radius: 5rem;
    background: #ffc61a;
    font-size: 2vw;
    width: 5.5vw;
    height: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-item__logo img {
    position: absolute;
    width: 3vw;
}
.blog-item__logo--svg {
    width: 5.5vw;
    height: 5.5vw;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);
    background: #ffc61a;
    padding: 1.3vw;
    border-radius: 5rem;
}

.blog-btn {
    display: block;
    margin: -2vw auto;
    border-radius: .6vw;
    background: #ffc61a;
    font-size: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: .6vw 1.4vw .5vw;
    cursor: pointer;
    transition: 300ms;
}
.blog-btn:hover {
    background: goldenrod;
}

/*** DOWNLOAD ***/
#download {
    height: 80vh;
    background-color: #fff;
    padding-top: 2vw;
    position: relative;
}
#download::after {
    content: "";
    background: url(../images/Place-App-Screen-here.png) center / contain no-repeat;
    width: 26vw;
    aspect-ratio: 1/1.09;
    position: absolute;
    bottom: 0;
    right: 14vw;
}

.download__title1 {
    color: #ffc61a;
    font-size: 2.2vw;
    text-transform: uppercase;
    text-align: center;
}
.download__title2 {
    color: #000;
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
}

.download-box {
    width: 32vw;
    margin: 4vw 20vw;
}
.download-box__title {
    font-size: 1.6vw;
    margin-bottom: 1.2vw;
}
.download-box__title ~ p {
    margin-bottom: 2.5vw;
    opacity: .9;
}
.download-box__link {
    display: flex;
    gap: 2vw;
}
.download-box__link a {
    text-decoration: none;
}
.download-box__btn {
    flex-shrink: 0;
    padding: 0 1.5vw 1vw;
    border: none;
    height: 100%;
    background: #000;
    border-radius: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: .8vw;
    cursor: pointer;
}
.download-box__btn i {
    font-size: 2vw;
    margin-top: .8vw;
}
.download-box__btn img {
    height: 2.2vw;
    margin-top: .8vw;
}
.download-box__btn h3 {
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: .6vw;
    font-family: serif;
    font-weight: 100;
}
.download-box__btn h3 .min {
    font-size: .7vw;
    margin-left: .4vw;
    font-family: sans-serif;
}
.download-box__btn:hover {
    background: #4a4a4a;
}

/*** client ***/
#client {
    height: 75vh;
    background: rgba(20, 20, 20, 0.9) url(../images/sec6bg) top / 55vw repeat;
    /* background-size: 50vw; */
    background-blend-mode: hue;
    padding-top: 5vw;
}
.client__title1 {
    color: #ffc61a;
    font-size: 2.1vw;
    text-transform: uppercase;
    text-align: center;
}
.client__title2 {
    color: #fff;
    font-size: 2.6vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.client__card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 4vw;
}

.client__carte {
    background: #050505;
    padding: 2.5vw;
    border-radius: 2vw;
    width: 35%;
    position: relative;
    transition: 300ms;
    cursor: pointer;
}
.client__carte:first-child::after {
    content: "";
    width: 2vw;
    height: 2vw;
    background: #000;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    position: absolute;
    bottom: .1vw;
    right: 5vw;
    transform: translateY(100%);
}
.client__carte:last-child::after {
    content: "";
    width: 2vw;
    height: 2vw;
    background: #000;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    position: absolute;
    bottom: .1vw;
    left: 5vw;
    transform: translateY(100%);
}
.client__carte:hover {
    transform: scale(1.02);
}
.client__carte > p {
    color: white;
    margin-bottom: 1.5vw;
    font-size: 1vw
}
.client__carte-perso {
    display: flex;
    align-items: center;
    gap: .8vw;
}
.client__carte-perso > img {
    width: 4.5vw;
    height: 4.5vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
.carte-perso__name {
    font-size: 1.6vw;
    color: #ffc61a;
    text-transform: uppercase;
    line-height: .8;
}
.carte-perso__name > .actuality {
    font-size: 1.3vw;
    color: #fff;
    text-transform: uppercase;
}

/*** CONTACT ***/
#contact {
    height: 30vh;
    background: #ffc61a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.contact__title {
    font-size: 2.4vw;
    text-align: center;
    text-transform: uppercase;
}
.contact__num {
    font-size: 4vw;
    text-align: center;
}

/*** FOOTER ***/
#footer {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4vw;
    padding-top: 6vw;
    background: rgba(5,5,5,.95) url(../images/taxi-238478_1920.jpg) center / cover no-repeat;
    background-blend-mode: darken;
    position: relative;
}
#footer::after {
    content: "Copyright © 2025 dam.kincaid@gmail.com";
    color: #f2f2f2bb;
    text-align: center;
    padding: 1.2vw;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    /* box-sizing: border-box; */
}
#footer p {
    font-size: 1vw;
    line-height: 1.5;
}

.footer-box {
    width: 20%;
}
.footer-box__title,
.footer-box hr {
    margin-bottom: 1.5vw;
    color: #f5f5f5;
}
.footer-box__descri {
    margin-bottom: 1vw;
}
.footer-box__descri {
    color: #ddd;
}
.footer-box__title {
    font-size: 1.5vw;
    text-transform: uppercase;
}
.footer-box hr {
    height: .4vw;
    border: none;
    background: #ffc61a;
    width: 90%;
}
.footer-box__social {
    height: 2vw;
    display: flex;
    gap: 0.8vw;
}
.footer-box__social li {
    list-style: none;
}
.social-icon {
    height: 1.5vw;
}

.footer-box__social li:hover {
    transform: scale(1.1);
    color: goldenrod;
}
.footer-box__user a {
    color: #ffc61a;
    margin-bottom: .5vw;
    font-size: 1.2vw;
    font-weight: lighter;
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
}
.footer-box__user a:hover {
    color: goldenrod;
}
.footer-box__user a img {
    height: 1.5vw;
}
.footer-box__user a .fa-android {
    width: 2vw;
    height: 2vw;
}
.footer-box__location {
    color: #ddd;
}
.footer-box__location > p{
    margin-bottom: 1vw;
    display: flex;
}
.footer-box__location > p > i {
    margin-right: 1.2vw;
}

/*** Responsive ***/
@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    #header {
        height: 50vh;
    }
    .nav__logo {
        position: relative;
        transform-origin: left top;
        transform: scale(2.5);
    }
    .nav__logo p {
        text-wrap: nowrap;
    }
    .nav__link-btn {
        width: 6vw;
        height: 6vw;
        position: absolute;
        top: 3vw;
        right: 3vw;
    }
    .nav__link-btn i {
        width: 70%;
        height: 2px;
        background: #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition:
        opacity 200ms ease,
        transform 200ms ease,
        top 200ms ease 200ms;
    }
    .nav__link-btn i:nth-child(1) {
        top: 22%;
    }
    .nav__link-btn i:nth-child(3) {
        top: 75%;
    }
    #menu-btn:checked ~ .nav__link-btn i:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transition:
        top 200ms ease,
        transform 200ms ease 200ms;
    }
    #menu-btn:checked ~ .nav__link-btn i:nth-child(2) {
        opacity: 0;
    }
    #menu-btn:checked ~ .nav__link-btn i:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition:
        top 200ms ease,
        transform 200ms ease 200ms;
    }
    .nav__link-btn {
        z-index: 2;
    }
    .nav__link {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 100vh;
        background: #000;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 1;
        transition: 300ms ease;
    }
    .nav__link li a:hover {
        background: none;
        color: blueviolet;
    }
    #menu-btn:checked ~ .nav__link {
        display: flex;
        transform: translateX(0%);
    }

    /* greeting */
    .greeting::after {
        display: none;
    }
    .greeting {
        margin-top: 14vw;
    }
    .greeting h3 {
        font-size: 6vw;
    }
    .greeting h2 {
        font-size: 10vw;
    }
    .greeting p {
        font-size: 2.5vw;
    }

    /* form */
    #about {
        position: relative;
        flex-direction: column;
    }
    .about-descri {
        width: 100%;
    }
    .about-descri h3 {
        font-size: 3.5vw;
    }
    .about-descri h2 {
        font-size: 4vw;
    }
    .about-descri p,
    .about-descri__btn {
        display: none;
    }
    .about-form {
        width: 90%;
        align-self: center;
    }
    .about-form h2 {
        text-align: center;
        font-size: 3vw;
        padding: 2vw 0 1.5vw;
    }
    .about-form__input {
        padding: 2vw 6vw;
    }
    .about-form__input input {
        font-size: 2vw;
        margin-bottom: 2vw;
    }
    .about-form__input input::placeholder {
        font-size: 2vw !important;
    }
    .about-form__btn {
        padding: 1.2vw 0 0.8vw;
        font-size: 2.4vw;
    }

    #feature {
        height: auto;
        padding-bottom: 3vw;
    }
    #feature h3 {
        font-size: 3.5vw;
        line-height: 1;
    }
    #feature .feature__title2 {
        font-size: 4vw;
    }
    .taxi-tariff {
        flex-direction: column;
        gap: 3vw;
        align-items: start;
    }
    .tariff-card {
        width: 90%;
        align-items: flex-start;
        padding: 1.5vw 20vw 1.5vw 1.5vw;
        border-radius: 1.5vw;
        background: #ffc61a;
    }
    .tariff-card::before {
        top: 50%;
        left: 95%;
        transform: translate(-100%, -50%);
    }
    .tariff-card__title {
        font-size: 3.5vw;
    }
    .tariff-card p {
        font-size: 2vw;
        text-wrap: balance;
        text-align: left;
    }
    .tariff-card__prix {
        color: black;
    }
    .tariff-card .more-btn {
        background: #181501;
        color: #f1f1f1;
    }

    #blog {
        height: auto;
        padding: 2vw 0;
    }
    .blog-box {
        padding: 2vw 10vw;
    }
    .blog__title1 {
        font-size: 3.5vw;
        line-height: 1;
    }
    .blog__title2 {
        font-size: 4vw;
    }
    .blog-item {
        width: 48%;
    }
    .blog-item__h4 {
        font-size: 2.8vw;
    }
    .blog-item__p {
        font-size: 1.8vw;
    }
    .blog-item__logo {
        width: 6.5vw;
        height: 6.5vw;
    }
    .blog-btn {
        margin-block: 0;
        margin-left: 10vw;
    }

    #download {
        height: auto;
    }
    #download::after {
        display: none;
    }
    .download__title1 {
        font-size: 3.5vw;
    } 
    .download__title2 {
        font-size: 4vw;
    }
    .download-box {
        width: 90%;
        margin: 4vw 3vw;
    }
    .download-box__title {
        font-size: 2.6vw;
    }
    .download-box p {
        font-size: 1.8vw;
    }
    .download-box__link {
        transform-origin: top left;
        transform: scale(1.2);
    }

    #client,
    #contact,
    #footer {
        height: auto;
        padding: 5vw;
    }
    #footer::after {
        font-size: 1.6vw;
    }
}